@import "../helium/helium";

@mixin budget {
  @include helium;
   .grayArea {
        background-color: #D2CCEC;
        border-color: #637497;
        border-radius: 10px;
    }

    .sensitive {
        background-color: lightyellow;
        color: red;
    }

    .red_button_like {
        background-color: lightyellow;
        color: #6F5CC3;
        font-size: 16px !important;
        border-radius: 10px;
        border-color: #6F5CC3;
        padding: 10px;
    }

    .visible {
        background-color: #FF647C;
        color: white;
        //font-family: "Poppins Black";
        font-size: 12px !important;
    }

    .errorCapture {
      border-color: red;
    }

    .warning {
        color: red;
        background-color: #eeeeee;
        border-color: red;
        border-radius: 15px;
        font-size:25px !important;
        text-align: center;
        vertical-align: middle;
    }

    .homePage {
     color: #6F5CC3;
     background-color: #D2CCEC;
     border-color: #6F5CC3;
     border-radius: 15px;
     font-size:25px !important;
     font-weight: bold;
     text-align: center;
     vertical-align: middle;
    }

  .v-grid {
  .v-grid-cell.basicCell {
          color: #555555;
          text-align: right;
      }

      .v-grid-cell.boldCell {
          //background-color: #d2ccec;
          font-weight: bold;
          text-align: right;
      }
       .v-grid-cell.center {
           font-weight: bold;
           text-align: center;
       }

      .v-grid-cell.rightCell {
              text-align: right;
          }
      .v-grid-cell.leftCell {
              text-align: left;
         }

      .v-grid-cell.italicCell {
          font-style: italic;
          color: #555555;
      }

      .v-grid-cell.rateCell {
          color: #ffffff;
          background-color: #6f5cc3;
          text-align: right;
      }

      .v-grid-cell.readonly {
          color: #ffffff;
          background-color: #bbbbbb;
          text-align: right;
      }

       .v-grid-cell.readonlytotal {
              color: #ffffff;
              background-color: #555555;
              text-align: right;
          }

       .v-grid-cell.green {
            color: black;
            background-color: #B6E580;
            text-align: right;
       }
       .v-grid-cell.orange {
            color: black;
            background-color: #FFEA94;
            text-align: right;
       }
       .v-grid-cell.red {
            color: black;
            background-color: #E58080;
            text-align: right;
       }
       .v-grid-cell.gray {
            color: black;
            background-color: #E0E1DF;
            text-align: right;
       }
       .v-grid-cell.empty {
            color: black;
            text-align: right;
       }


       .v-grid-cell.h1r {
            font-weight: bold;
            text-align: right;
       }
       .v-grid-cell.ce1r {
            text-align: right;
       }
       .v-grid-cell.ce2r {
            //background-color: #F2F2F2;
            color: #46BEAA;
            text-align: right;
       }
       .v-grid-cell.cror {
            font-style: italic;
            text-align: right;
            color: #6F5CC3;

       }
       .v-grid-cell.crotr {
            // read-only pink bold
            font-weight: bold;
            text-align: right;
            color: #F08791;
       }

        // Dashboard styles

        // --- GSV
        .v-grid-cell.dg1 {
           text-align: right;
           color: #FFFFFF;
           font-family: "Arial Black";
           background-color: #5F8CA0;
        }
        .v-grid-cell.dg2 {
           text-align: right;
           background-color: #BFD1D9;
        }
        .v-grid-cell.dg3 {
           text-align: right;
           background-color: #DFE8EC;
        }
        // --- ECOM
        .v-grid-cell.de1 {
           text-align: right;
           color: #FFFFFF;
           font-family: "Arial Black";
           background-color: #F5AF82;
        }
        .v-grid-cell.de2 {
           text-align: right;
           background-color: #FBDFCC;
        }
        .v-grid-cell.de3 {
           text-align: right;
           background-color: #FDEFE6;
        }
        // --- ONLINE
        .v-grid-cell.do1 {
           text-align: right;
           color: #FFFFFF;
           font-family: "Arial Black";
           background-color: #D74B8C;
        }
        .v-grid-cell.do2 {
           text-align: right;
           background-color: #EFB6D1;
        }
        .v-grid-cell.do3 {
           text-align: right;
           background-color: #F7DBE8;
        }
        // --- OMNICHANNEL
        .v-grid-cell.dc1 {
           text-align: right;
           color: #FFFFFF;
           font-family: "Arial Black";
           background-color: #46B8A6;
        }
        .v-grid-cell.dc2 {
           text-align: right;
           background-color: #B5E3DC;
        }
        .v-grid-cell.dc3 {
           text-align: right;
           background-color: #DAF1EE;
        }
        // --- other
        .v-grid-cell.dt1 {
           text-align: right;
           color: #FFFFFF;
           font-family: "Arial Black";
           background-color: #898989;
        }
        .v-grid-cell.dt2 {
           text-align: right;
           background-color: #D8D8D8;
        }
        .v-grid-cell.dt3 {
           text-align: right;
           background-color: #F2F2F2;
        }


  }

}