@import "../helium/helium";

@mixin budget {
  @include helium;
   .grayArea {
        background-color: #D2CCEC;
        border-color: #637497;
        border-radius: 10px;
    }

    .sensitive {
        background-color: lightyellow;
        color: red;
    }

    .errorCapture {
      border-color: red;
    }

    .warning {
        color: red;
        background-color: #eeeeee;
        border-color: red;
        border-radius: 15px;
        font-size:25px !important;
        text-align: center;
        vertical-align: middle;
    }

  .v-grid {
  .v-grid-cell.basicCell {
          color: #555555;
          text-align: right;
      }

      .v-grid-cell.boldCell {
          background-color: #d2ccec;
          font-weight: bold;
          text-align: right;
      }
       .v-grid-cell.center {
           font-weight: bold;
           text-align: center;
       }

      .v-grid-cell.rightCell {
              text-align: right;
          }
      .v-grid-cell.leftCell {
              text-align: left;
         }

      .v-grid-cell.italicCell {
          font-style: italic;
          color: #555555;
      }

      .v-grid-cell.rateCell {
          color: #ffffff;
          background-color: #6f5cc3;
          text-align: right;
      }

      .v-grid-cell.readonly {
          color: #ffffff;
          background-color: #bbbbbb;
          text-align: right;
      }

       .v-grid-cell.readonlytotal {
              color: #ffffff;
              background-color: #555555;
              text-align: right;
          }

       .v-grid-cell.green {
            color: black;
            background-color: #B6E580;
            text-align: right;
       }
       .v-grid-cell.orange {
            color: black;
            background-color: #FFEA94;
            text-align: right;
       }
       .v-grid-cell.red {
            color: black;
            background-color: #E58080;
            text-align: right;
       }
       .v-grid-cell.gray {
            color: black;
            background-color: #E0E1DF;
            text-align: right;
       }
       .v-grid-cell.empty {
            color: black;
            text-align: right;
       }


       .v-grid-cell.h1r {
            font-weight: bold;
            text-align: right;
       }
       .v-grid-cell.ce1r {
            text-align: right;
       }
       .v-grid-cell.ce2r {
            //background-color: #F2F2F2;
            color: #46BEAA;
            text-align: right;
       }
       .v-grid-cell.cror {
            font-style: italic;
            text-align: right;
            color: #888888;
       }
       .v-grid-cell.crotr {
            font-weight: bold;
            text-align: right;
            color: #F08791;
       }


  }

}