<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.choqnet.budget/menu.application" insertBefore="administration">
        <menu id="actuals" caption="msg://com.choqnet.budget/menu_config.actuals">
            <item screen="Worklogs" caption="msg://com.choqnet.budget/menu_config.Worklogs"/>
            <item screen="WorklogSummary"
                  caption="msg://com.choqnet.budget.screen.worklog_summary/worklogSummary.caption"/>
            <item screen="WorklogPmo" caption="msg://com.choqnet.budget.screen.worklog_pmo/worklogPmo.caption"/>
            <item screen="XLActual.browse" caption="msg://com.choqnet.budget.screen.xlactual/XLActualBrowse.menu"/>
        </menu>
        <item screen="BudgetScreen" caption="msg://com.choqnet.budget.screen.budget/budgetScreen.caption"/>
        <item screen="BudgetDashboard"
              caption="msg://com.choqnet.budget.screen.budget_dashboard/budgetDashboard.caption"/>
        <item screen="CapacityScreen" caption="msg://com.choqnet.budget.screen.capacity/capacityScreen.caption"/>
        <item screen="CapacityPlanningTeams"
              caption="msg://com.choqnet.budget.screen.capacity_planning_teams/capacityPlanningTeams.caption"/>
        <item screen="ProgressManagement"
              caption="msg://com.choqnet.budget.screen.progressmanagement/progressManagement.caption"/>
        <item screen="IprbScreen" caption="msg://com.choqnet.budget.screen.iprb/iprbScreen.caption"/>
        <item screen="Teams" caption="msg://com.choqnet.budget.screen.teams/teams.caption"/>


    </menu>
    <menu id="back-office" caption="msg://com.choqnet.budget/menu_config.back-office" insertBefore="administration">
        <item screen="ControlTower" caption="msg://com.choqnet.budget.screen.control_tower/controlTower.caption"/>
        <item screen="User.browse" caption="msg://com.choqnet.budget.screen.user/UserBrowse.caption"/>+
        <item screen="OnePager.browse" caption="msg://com.choqnet.budget.screen.one_pager/onePagerBrowse.menu"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>

        <item screen="Mapping.browse" caption="msg://com.choqnet.budget.screen.mapping/mappingBrowse.menu"/>
        <item screen="Template.browse" caption="msg://com.choqnet.budget.screen.template/templateBrowse.menu"/>
        <item screen="ChangePassword" caption="msg://com.choqnet.budget.screen.change_password/changePassword.caption"/>
        <menu id="data-management" caption="msg://com.choqnet.budget/menu_config.data-management">
            <item screen="DetailSystem"
                  caption="msg://com.choqnet.budget.screen.detail.detailsystem/detailSystem.caption"/>
            <item screen="ExpenseSystem"
                  caption="msg://com.choqnet.budget.screen.expense.expensesystem/expenseSystem.caption"/>
            <item screen="SetupManagement"
                  caption="msg://com.choqnet.budget.screen.setup_management/setupManagement.caption"/>
            <item screen="Detail.browse2" caption="msg://com.choqnet.budget.screen.detail/detailBrowse2.menu"/>
            <item screen="Progress.browse" caption="msg://com.choqnet.budget.screen.progress/progressBrowse.menu"/>
        </menu>
    </menu>

</menu-config>